.image {
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  box-shadow: var(--image-shadow);
}

.image--title {
  margin-bottom: 2rem;
}

.caption {
  margin-bottom: 3rem;
  text-align: center;
  font-style: italic;
  color: var(--palette-light-grey);
  font-size: var(--font-size-small);
}
