.announcement {
  position: relative;
  width: 100%;
  height: 2.5rem;
  background-color: var(--ifm-color-primary);
  color: var(--palette-almost-white);
}

.announcement__close {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  width: 4rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  color: inherit;
  font-size: 2rem;
  cursor: pointer;
}

.announcement__content {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}

.announcement__link {
  color: inherit;
  text-decoration: underline;
}

.announcement__link:hover {
  color: inherit;
}

@media screen and (max-width: 576px) {
  .announcement__close {
    width: 2.5rem;
  }
}
