.image {
  height: auto;
  background-color: var(--theme-screenshot-background-color);
}

.shadow {
  box-shadow: var(--image-shadow);
}

.margin {
  display: block;
  margin: 4rem auto;
}

.title {
  margin-bottom: 2rem;
}

.small {
  max-width: 500px;
}

.caption {
  margin-bottom: 2rem;
  text-align: center;
  font-style: italic;
  color: var(--palette-light-grey);
}
